/*
Base Color
#0f1111

Monochromatic - 100
#343b3b

Monochromatic - 200
#5a6666

Monochromatic - 300
#7f9090

Monochromatic - 400
#a5bbbb

Monochromatic - 500
#cae5e5
*/
@charset "UTF-8";
@font-face {
  font-family: 'DOS';
  src: url("./fonts/Perfect DOS VGA 437 Win.ttf");
}

html {
  font-family: "Lucida Console", "monospace";
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

*, *:before, *:after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
}

body {
    background-color: #0f1111;
    color: #7f9090;
}

a {
    color: #cae5e5;
    text-decoration: none;
}

a:active {
    color: #a5bbbb;
}

a:hover {
    color: #a5bbbb;
    text-decoration: underline;
}

ul {
    list-style: square;
}

.boxed {
    border-bottom: 2px dotted #343b3b;
    width: 1024px;
    margin: auto;
    padding: 1em;
}

@media only screen and (max-width: 1024px) {
    .goatpr0n-wide {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .goatpr0n-small {
        display: none;
    }
}
