html {
  font-family: "Lucida Console", "monospace";
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
}

article header {
  font-size: small;
  font-family: "DOS", "Lucida Console", "monospace";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

a {
  color: $anchor-color;
  text-decoration: none;
}

a.active {
  color: $anchor-active-color;
}

a:hover {
  color: $anchor-hover-color;
  text-decoration: underline;
}

ul > li > span {
  color: $text-color;
}

ul > li > span.date {
  color: $text-color;
  padding-top: 6px;
}

ul > li > span.date:before {
  content: " ";
}
ul > li > span.date:after {
  content: " ";
}
ul > li:hover > span.date:before {
  content: ">";
}
ul > li:hover > span.date:after {
  content: "<";
}

ul.content-list li:hover .date {
  color: $anchor-hover-color;
}

ul {
  list-style: square;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

table {
  font-family: "DOS", "Lucida Console", "monospace";
  border-style: dashed;
  border-width: 1px;
  border-collapse: collapse;
  border-color: $table-border-color;
  background-color: $table-background-color;
  margin: 2em;
  text-align: left;
}

th,
td {
  padding: 4px;
}

thead {
  background-color: $table-header-background-color;
}

tbody tr:nth-child(even) {
  background-color: $table-row-even-background-color;
}

tbody tr:nth-child(odd) {
  background-color: $table-row-odd-background-color;
}

.boxed {
  border-bottom: 1px dashed $border-color;
  max-width: 1024px;
  margin: auto;
  padding: 1em;
}

.warning {
  background-color: $warning-background-color;
}
