/*
https://coolors.co/04080f-507dbc-a1c6ea-bbd1ea-dae3e5
*/

$background-color: {{ .Site.Params.style.backgroundColor | default "#04080f" }};
$text-color: {{ .Site.Params.style.textColor | default "#dae3e5" }};
$code-color: {{ .Site.Params.style.codeColor | default "#dae3e2" }};
$border-color: {{ .Site.Params.style.borderColor | default "#dae3e5" }};
$anchor-color: {{ .Site.Params.style.anchorColor | default "#507dbc" }};
$anchor-active-color: {{ .Site.Params.style.anchorActiveColor | default "#bbd1ea" }};
$anchor-hover-color: {{ .Site.Params.style.anchorHoverColor | default "#bbd1ea" }};
$pre-text-color: {{ .Site.Params.style.preTextColor | default "#f8f8f2" }};
$pre-background-color: {{ .Site.Params.style.preBackgroundColor | default "#272822" }};
$table-background-color: {{ .Site.Params.style.tableBackgroundColor | default "#000000" }};
$table-border-color: {{ .Site.Params.style.tableBackgroundColor | default "#dae3e5" }};
$table-header-background-color: {{ .Site.Params.style.tableHeaderBackgroudColor | default "#000000" }};
$table-row-even-background-color: {{ .Site.Params.style.tableRowEvenBackgroundColor | default "#282227" }};
$table-row-odd-background-color: {{ .Site.Params.style.tableRowOddBackgroundColor | default "#272822" }};
$warning-background-color: {{ .Site.Params.style.warningBackgroundColor | default "#ff6030" }};
$warning-color: {{ .Site.Params.style.warningColor | default "#04080f" }};

@charset "UTF-8";
@font-face {
  font-family: 'DOS';
  src: url("./fonts/Perfect DOS VGA 437 Win.ttf");
}

@import "base";

@import "components/code";
@import "components/goatpr0n";
@import "components/tag_lists";
