.tag-lists {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}

.tag-lists-item {
    --size: attr(data-weight number, 2); 
    font-size: calc(var(--size) * 1rem);
}
